<div class="nav-panel">
	<section>
		<h1><a href="/logbook/" title="KM4FPA's Logbook">Recent QSO's</a></h1>
		<ul>
			{% assign contacts = (site.contacts | reverse) %}
			{% for contact in contacts limit:3 %}
				<li>
					<span class="post-meta">{{ contact.date | date: "%b %-d, %Y" }}</span>
					<h2>
						<a class="post-link" href="{{ contact.url | prepend: site.baseurl }}">{{ contact.title }}</a>
					</h2>
				</li>
			{% endfor %}
		</ul>
	</section>
	<section>
		<h1>Recent Projects</h1>
		<ul>
			{% assign projects = (site.projects | reverse) %}
			{% for project in projects limit:3 %}
				<li>
					<span class="post-meta">{{ project.date | date: "%b %-d, %Y" }}</span>
					<h2>
						<a class="post-link" href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
					</h2>
				</li>
			{% endfor %}
		</ul>
	</section>
</div>